@import url("http://fonts.cdnfonts.com/css/optien");

.App {
  text-align: center;
  justify-content: center;
  height: 1200px;
  background-image: url("https://www.npg.org.uk/assets/images/learning/playful-portraits/Dorothy-Hodgkin/568_6-8-years-a.jpg");
  background-repeat: repeat-x repeat-y;
  /* background-repeat: ; */
  background-size: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.empty {
  margin-top: 15px;
  font-family: "Optien", sans-serif;

  font-size: 20px;
}

.title {
  font-family: "Optien", sans-serif;

  font-size: 50px;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
